
.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  gap: 10px; /* Add spacing between buttons */
  margin: 10px 20px; /* Add some margin for positioning */
}

.my-hustle-button,

.create-hustle-button {
  width: 150px; /* Set a fixed width */
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  padding: 10px 15px; /* Add padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px; /* Font size */
}

.my-hustle-button:hover,
.create-hustle-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.status-dropdown {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
